[submodule "lib/sf-movies-web"]
	path = lib/sf-movies-web
	url = https://github.com/bbraithwaite/sf-movies-web
[submodule "lib/sf-movies-api"]
	path = lib/sf-movies-api
	url = https://github.com/bbraithwaite/sf-movies-api
